body {
    padding: 0;
    overflow: hidden;
    font-family: Garamond;
    font-size: 18px;
}

.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}

.h1 {
  font-family: Garamond;
  font-size: 50px;
}

.input-text {
  font-family: Garamond;
  font-size: 18px;
}

.hint-text {
  font-family: Garamond;
  font-size: 12px;
}
